<p id="notice"><%= notice %></p>

<h1>Listing Next Appointments</h1>
<div class="media">
 <div class="media-body">
	<table class="table table-hover">
  <thead>
    <tr>
      <th>Next date</th>
      <th>Appointment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @next_appointments.each do |next_appointment| %>
      <tr>
        <td><%= next_appointment.next_date %></td>
        <td><%= next_appointment.appointment%></td>
        <td><%= link_to 'Show', next_appointment %></td>
        <td><%= link_to 'Edit', edit_next_appointment_path(next_appointment) %></td>
        <td><%= link_to 'Destroy', next_appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>

<%= link_to 'New Next appointment', new_next_appointment_path %>
