<p id="notice"><%= notice %></p>

<h1>Listing Appointments</h1>
<div class="media">
 <div class="media-body">
	<table class="table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Customer name</th>
      <th>Appoint remind</th>
      <th>Reason</th>
      <th>Doctor</th>
      <th>Animal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date.strftime("%Y-%m-%d") %></td>
        <td><%= appointment.customer_name %></td>
        <td><%= appointment.appoint_remind %></td>
        <td><%= appointment.reason %></td>
        <td><%= appointment.doctor.name if appointment.doctor %></td>
        <td><%= appointment.animal.name if appointment.animal  %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
